<div class="book-container">
  @for (b of borrowedBooks; track b.isbn) {
  <div class="book-card">
    <div><img [src]="getImagePathHandler(b)" class="image" /></div>
    <div class="book-info">
      <p class="title">{{ b.title }}</p>
      <p class="author">by {{ b.author }}</p>
      <button class="more-details" (click)="showModal(b)">More Details</button>
      <button class="return" (click)="returnBookHandler(b)">Return</button>
    </div>
  </div>
  } @empty {
  <p class="backup-message">No books added yet!</p>
  }
</div>
@if (selectedBook) {
<div class="modal-backdrop">
  <div class="modal">
    <h2>{{ selectedBook.title }} by {{ selectedBook.author }}</h2>
    <p>{{ selectedBook.description }}</p>
    <button (click)="selectedBook = null">Close</button>
  </div>
</div>
}
