<div class="book-container">
    @for (b of borrowedBooks; track b.isbn) {
        <div class="book-card">
            <div><img [src]="getImagePath(b)" class="image"/></div>
            <div class="book-info">
                <p class="title">{{ b.title }}</p> 
                <p class="author"> by {{ b.author }}</p>
                <button class="more-details" (click)="showModal = true">More Details</button>
                <button class="return" (click)="returnBookHandler(b)">Return</button>
            </div>
        </div>
    } @empty {
        <p class="backup-message">No books added yet!</p>
    }
</div>
<div class="modal-backdrop">
    @if (showModal) {
        @for (b of borrowedBooks; track b.isbn) {
        <div class="modal">
          <h2>{{ b.title }} by {{ b.author }}</h2>
          <p>{{ b.description }}</p>
          <button (click)="showModal = false">Close</button>
        </div>
    }}
</div>


