<!-- <div class="search-wrapper">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by title, author, or genre..."
      class="search-input"
    />
</div> -->

<div class="book-container">
  @for (b of filteredBooks(); track b.title) {
  <div class="book-card">
    <img [src]="getImagePathHandler(b)" class="image" />
    <div class="book-info">
      <p class="title">{{ b.title }}</p>
      <p class="author">by {{ b.author }}</p>
      <button class="more-details" (click)="showModal(b)">More Details</button>
      <button class="edit-btn" (click)="editBook(b)">Edit</button>
      <button class="remove" (click)="removeBookHandler(b)">Remove</button>
    </div>
  </div>
  } @empty {
  <p>No books added yet!</p>
  }
</div>
@if (selectedBook) {
<div class="modal-backdrop">
  <div class="modal">
    <h2>{{ selectedBook.title }} by {{ selectedBook.author }}</h2>
    <p>{{ selectedBook.description }}</p>
    <button (click)="selectedBook = null">Close</button>
  </div>
</div>
}

<div>
    @if (bookToEdit) {
        <div class="modal-backdrop">
            <div class="modal">
                <form action="submit">
                    <input type="text" name="title" placeholder='{{bookToEdit.title}}' required [(ngModel)]="title">
                    <input type="text" name="author" placeholder="{{bookToEdit.author}}" required [(ngModel)]="author">
                    <input type="text" name="genre" placeholder="{{bookToEdit.genre}}" required [(ngModel)]="genre">
                    <input type="text" name="description" placeholder="{{bookToEdit.description}}" required [(ngModel)]="description">
                    <input type="text" name="imageURL" placeholder="{{bookToEdit.image}}" [(ngModel)]="image">
                    <input type="number" name="isbn" placeholder="{{bookToEdit.isbn}}" required [(ngModel)]="isbn">
                </form>
                <button class="submit-btn" (click)="submitEdit()">Submit</button>
                <button (click)="bookToEdit = null">Close</button>
            </div>
        </div>
    }
</div>
